<header class="flex justify-between p-5 border-b border-gray-200 w-full fixed top-0 h-20 bg-[rgba(129,60,52,0.5)]">


  <a routerLink="/" ariaCurrentWhenActive="page" class="flex mr-4 w-56">
    <img src="assets/vocabFreshLogo.svg" alt="VobabFresh logo" />
  </a>

  <div class="flex justify-end">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page"
      class="flex items-center px-2">
      <mat-icon>search</mat-icon></a>
    <a routerLink="/cloud" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex items-center px-2">
      <mat-icon>cloud</mat-icon></a>
    <a routerLink="/favourites" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex items-center px-2">
      <mat-icon>favorite</mat-icon></a>
    <a routerLink="/info" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex items-center px-2">
      <mat-icon>info</mat-icon></a>
  </div>

</header>