<header class="flex justify-between p-5  boorder border-b-2 border-gray-200 w-full fixed top-0 h-20 bg-[#848987]">


  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="mr-4 w-56">
    <img src="assets/vocabFreshLogo.svg" alt="VobabFresh logo" />
  </a>

  <div class="flex justify-end">
    <a routerLink="/favourites" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex items-center px-2">
      <mat-icon class="text-red-500">favorite</mat-icon></a>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex items-center px-2">
      <mat-icon class="text-white">home</mat-icon></a>
    <a routerLink="/info" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex items-center px-2">
      <mat-icon class="text-white">info</mat-icon></a>
  </div>

</header>
