<main class="main z-10">
  <div class="content bg-[url('./assets/road-to-improvement.jpg')] bg-cover bg-center pt-20">
    <div class="fixed inset-0 bg-black/40"></div>
    <app-header class="relative z-[55]"></app-header>

    <!-- <div class="absolute inset-0 bg-black/35 h-full top-0 bottom-0"></div> -->

    <div class="mx-auto md:max-w-lg p-4 relative z-50 h-screen">
      <router-outlet></router-outlet>
      <!-- <img src="/assets/road-to-improvement.jpg" alt="">
      <img [src]="'assets/road-to-improvement.jpg'" class="w-32 h-32" alt="Logo"> -->
    </div>


  </div>
</main>
