<h1 class="text-xl text-customOrange mb-1">Search</h1>
<form (ngSubmit)="addWord()">
  <!-- ERROR: {{wordError}} -->

  <div class="w-full mb-4 relative">
    <input type="text" [(ngModel)]="newWord" name="word"
      class="w-full text-2xl bg-transparent placeholder:text-gray-400 text-white border border-slate-200 rounded-md p-6 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
      [ngClass]="{'placeholder:text-red-700 border-red-700': wordError}" placeholder="New word to learn..." required>
    <button type="submit" class="material-icons absolute right-6 top-1/2 transform -translate-y-1/2 text-white text-4xl cursor-pointer">
      search
    </button>
  </div>
  <!-- <button type="submit">Add Word</button> -->
</form>


<div class="bg-red-200 text-red-700 rounded-md transition-all duration-[400ms] ease-in-out text-center" [ngClass]="{
    'opacity-100 h-30 my-2 p-4': wordError,
    'opacity-0 h-0 my-0 p-0': !wordError
  }">
  {{ errorMessage }}
</div>


<ul class="pb-5">
  <li *ngFor="let word of words(); let i = index"
    class="justify-between items-center flex my-2 w-full text-3xl text-white bg-black/30 hover:bg-black/50 border border-grey-800 rounded-md p-3 transition duration-300 ease">
    <span (click)="retrieveWordInfo(word)" class="cursor-pointer capitalize flex-grow"> {{ word }}</span>
    <div class="flex items-center">
      <audio *ngIf="firstAudio" [src]="firstAudio"></audio>

      <button class="flex items-center px-3" (click)="playAudio(word, i)"><mat-icon>volume_up</mat-icon></button>
      <button class="flex items-center px-2"
        [ngClass]="{ 'text-red-500': checkInFavs(word), 'text-gray-200': !checkInFavs(word) }"
        (click)=" addToFavourite(word)"><mat-icon>favorite</mat-icon></button>
      <button class="flex items-center px-3" (click)="removeWord(i)"><mat-icon>close</mat-icon></button>
    </div>

  </li>
</ul>


<!-- Modal Component -->
<app-definition-modal [isOpen]="isModalOpen" [definition]="currentDefinitions()" (close)="closeModal()">
</app-definition-modal>
<!--
<div class="p-4 text-white">
  <h3>Definitions:</h3>
  <ul *ngIf="currentDefinitions() as definitions">
    <li *ngFor="let definition of definitions">
      <h4 class="font-semibold text-red-600 capitalize">{{ definition.word }}</h4>
      <ul>
        <li *ngFor="let meaning of definition.meanings">
          <strong>({{ meaning.partOfSpeech }})</strong>
          <ul class="list-disc list-outside pl-4">
            <li *ngFor="let def of meaning.definitions">
              {{ def.definition }}
            </li>
          </ul>

        </li>
      </ul>
    </li>
  </ul>
</div> -->
