<h1 class="text-xl text-customOrange mb-1">Elevate Your Vocabulary</h1>

<p class="text-white">VocabFresh helps you effortlessly expand your vocabulary by letting you save words you want to
  learn and use in conversation. Add words to your favorites, recall their definitions with a tap, and build a
  personalized word bank to improve your language skills.</p>
<p class="text-white">Whether you're looking to master uncommon words or simply enhance your communication,
  VocabFresh makes learning new vocabulary easy and engaging!</p>
