<h1 class="text-xl text-customOrange mb-1">Elevate Your Vocabulary</h1>

<p class="text-white pb-3 text-lg">VocabFresh helps you effortlessly expand your vocabulary by letting you save words
  you want
  to learn and use in conversation. </p>
<p class="text-white pb-3">Add words to your favorites, recall their definitions with a tap, listen to then
  pronunciation and build a
  personalized word bank to improve your language skills.</p>
<p class="text-white pb-3">Whether you're looking to master uncommon words or simply enhance your communication,
  VocabFresh makes learning new vocabulary easy and engaging!</p>
<ul class="text-white pb-3 list-inside list-disc">
  <li><a class="text-customOrange underline" href="https://github.com/EltonWhybrow/vocabulary-expander" target="_blank"
      rel="noopener">Github source</a>
  </li>
  <li><a class="text-customOrange underline" href="mailto:info@widesign.co.uk">Report a bug</a>
  </li>
  <li><a class="text-customOrange underline" href="https://portfolio.widesign.co.uk/portfolio" target="_blank"
      rel="noopener">Other work</a>
  </li>
</ul>
<p class="text-white pb-3">Packages:</p>
<div class="flex"><a href="https://www.npmjs.com/package/angular-tag-cloud-module"
    class="rounded-md bg-blue-500 text-white p-1 px-3">tag-cloud</a></div>
