<h1 class="text-3xl text-white">VocabFresh</h1>
<h2 class="text-2xl text-customOrange mb-3">Elevate Your Vocabulary</h2>

<p class="text-white">VocabFresh helps you effortlessly expand your vocabulary by letting you save words you want to
  learn and use in conversation. Add words to your favorites, recall their definitions with a tap, and build a
  personalized word bank to improve your language skills.</p>
<p class="text-white">Whether you're looking to master uncommon words or simply enhance your communication,
  VocabFresh makes learning new vocabulary easy and engaging!</p>